.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radio-label-vertical-wrapper {
  padding-bottom: 13px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.radio-label-vertical-wrapper:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 30px;
  background: #efefef;
  position: absolute;
  bottom: 0;
}

.radio-label-vertical-wrapper label:not(.radio-label-vertical) {
  display: block;
  width: 100%;
}

.radio-label-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  text-align: center;
}

.radio-label-vertical input {
  position: absolute;
  top: 28px;
  left: 50%;
  margin-left: -6px;
  display: block;
  cursor: pointer;
}

.navbar-brand {
  padding-left: 20px;
  padding-right: 20px;
}
